body{
  margin: 0;
  padding: 0;  
  font-family: sans-serif; 
}
body.night{
     background-color: #00151f;
}
.content{
    padding: 10%; 
}
.content h2{
     margin: 0 0 50px;
     padding: 0;
     /* color: #000; */
     transition: .5s;
}
.content p{
     transition: .5s;
     font-size: 18px;
}
.content.active{
   color: white;   
}
.toggle{
  position: absolute;
  top:10%;
  right:0%;
  transform: translate(-50%,-50%);   
  width:100px;
  height:40px;   
  border: 2px solid #00151f;
  border-radius: 50px;
  transition: .5s;
}
.toggle.active{
     background-color: #00151f;
     border: 2px solid white;
}
.toggle::before{
  content: "";
  position: absolute;
  top:5px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: #00151f;
  border-radius: 50%;   
  transition: .5s;
}
.toggle.active::before{
  content: "";
  left:67px;
  background-color: white;
}